.add_contact {
  position: absolute;
  left: 25.5rem;
  top: 19.1rem;
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  cursor: pointer;
  -webkit-user-select: none;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
