.FormAddProduct {
  width: 50%;
  margin: 10rem 30% 3rem 30%;
  padding: 2rem;
  min-width: 30rem;
  max-width: 40rem;
  background-color: white;
  border-radius: 5%;
}
#addProductButton {
  margin: 10% 41%;
  position: relative;
}
