.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 19rem;
}

header {
  margin-bottom: 6rem;
}
.css-13xt966 {
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 11em;
}
