.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 19rem;
}

header {
  margin-bottom: 6rem;
}
.css-13xt966 {
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 11em;
}
.w-100 {
  flex: 1 0;
  background-color: transparent;
  margin-top: 1rem;
  min-height: 15rem;
  width: 100% !important;
}
.css-1mpy9pw {
  background: #fafafa;
  margin-top: 2em;
  display: contents !important;
  text-align: right;
}
