body {
  --bs-bg-opacity: 1 !important;
  background-color: linear-gradient(
    to right,
    #040417,
    #2b3138,
    rgb(62 127 224 / 25%),
    #94bac1
  ) !important;
  background-image: linear-gradient(
    to right,
    #040417,
    #2b3138,
    rgb(62 127 224 / 25%),
    #94bac1
  );
}
.nav-link {
  margin-left: auto;
  display: block;
  padding: 0.5rem 1rem;
  color: #000000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
#searchForm {
  margin: 3rem 0rem 1rem 0rem;
}

.navbar-dark .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  padding: 0 15% 0px 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 12rem;
  padding: 0.5rem 0;
  margin: 39px 0 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: end;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

#cartIcon {
  font-size: 2.5rem;
  color: #202122;
  position: absolute;
  margin-top: -1rem;
}

#SearchIcon {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  background-image: linear-gradient(
    to right,
    #040417,
    #2b3138,
    rgb(62 127 224 / 25%),
    #94bac1
  );
}
.btn-secondary {
  color: #fff;
  background-color: #214565;
  border-color: #3c5a75;
  width: 12rem;
}

.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #214565;
  border-color: #3c5a75;
  width: 12rem;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #05203c;
  border-color: #031523;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  min-height: 6rem;
}
#logo {
  width: 5rem;
  cursor: pointer;
}
.btn-group,
.btn-group-vertical {
  display: inline-flex;
  vertical-align: middle;

  margin-top: 0px;
}

#loginButton {
  position: absolute;
  display: inline-flex;
  vertical-align: middle;
  margin-left: 74%;
  margin-top: 7px;
}

#NavRow {
  width: 100%;
  margin-top: -2rem;
}

#toogleIcon {
  font-size: 2rem;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: none;
  margin-top: 1rem;
}

#LogoCol {
  flex: 1 0;
  background-color: transparent;
  margin-top: 1rem;
}

.buttonOffCanvas {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.buttonOffCanvasProfile {
  position: absolute;
  margin-top: 7rem;
  margin-left: 5rem;
}

#cartOffCanvas {
  color: black;
  text-decoration: none;
  font-size: 41px;
  position: absolute;
  margin-top: -28px;
  margin-left: 38px;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #242742;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}
