@media all and (min-width: 480px) {
    .Register {
        margin-top: 5em;
        padding: 60px 0;
    }

    .Register form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Register button {
        margin-top: 2rem;
        max-width: 320px;
        margin-left: 7rem;

    }
    .alertButton {
        margin-top:2em;
    }
}
