.nav-link {
  margin-left: auto;
  display: block;
  padding: 0.5rem 1rem;
  color: #000000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
#searchForm {
  width: 60%;
  margin: 0px 15% 0px 0px;
}

.navbar-dark .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  padding: 0 15% 0px 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 39px 0 0 -67%;
  font-size: 1rem;
  color: #212529;
  text-align: end;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
#cartIcon {
  font-size: 27px;
  padding-right: 45px;
}

#SearchIcon {
  font-size: 23px;
  padding: 0 10px;
  cursor: pointer;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  background-image: linear-gradient(
    to right,
    #2b2935,
    #183048,
    rgb(62 127 224 / 25%),
    #94bac1
  );
}
.btn-secondary {
  color: #fff;
  background-color: #214565;
  border-color: #3c5a75;
}

.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #214565;
  border-color: #3c5a75;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #05203c;
  border-color: #031523;
}
